
<!doctype html>

<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

```
{% seo %}

<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{% include head-custom.html %}
```

  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>Matthew Schaub ePortfolio</h1>
        <p>SNHU CS-499 - Computer Science Capstone</p>

```
    <p class="view">
      <a href="https://github.com/mschaub62/mschaub62.github.io" target="_blank">
        View Project on GitHub
      </a>
    </p>

    <ul>
      <li>
        <a href="https://github.com/mschaub62/mschaub62.github.io" target="_blank">
          View On <strong>GitHub</strong>
        </a>
      </li>
    </ul>
  </header>

  <section>
    {{ content }}
  </section>
</div>

<footer>
  <p>Matthew Schaub CS-499 Computer Science ePortfolio</p>
  <p>Hosted on GitHub Pages</p>
</footer>

<!--[if !IE]><script>fixScale(document);</script><![endif]-->
```

  </body>
</html>
